<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated scalablepcmgroupmeasuringpoint -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.scalablepcmgroupmeasuringpoint.presentation.ScalablePCMGroupMeasuringPointModelWizardID"
            name="%_UI_ScalablePCMGroupMeasuringPointModelWizard_label"
            class="org.palladiosimulator.scalablepcmgroupmeasuringpoint.presentation.ScalablePCMGroupMeasuringPointModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ScalablePCMGroupMeasuringPointModelFile.gif">
         <description>%_UI_ScalablePCMGroupMeasuringPointModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated scalablepcmgroupmeasuringpoint -->
      <editor
            id="org.palladiosimulator.scalablepcmgroupmeasuringpoint.presentation.ScalablePCMGroupMeasuringPointEditorID"
            name="%_UI_ScalablePCMGroupMeasuringPointEditor_label"
            icon="icons/full/obj16/ScalablePCMGroupMeasuringPointModelFile.gif"
            extensions="scalablepcmgroupmeasuringpoint"
            class="org.palladiosimulator.scalablepcmgroupmeasuringpoint.presentation.ScalablePCMGroupMeasuringPointEditor"
            contributorClass="org.palladiosimulator.scalablepcmgroupmeasuringpoint.presentation.ScalablePCMGroupMeasuringPointActionBarContributor">
      </editor>
   </extension>
</plugin>
