<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated semantic -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.palladiosimulator.semanticelasticityspec.presentation.SemanticelasticityModelWizardID"
            name="%_UI_SemanticelasticityModelWizard_label"
            class="org.palladiosimulator.semanticelasticityspec.presentation.SemanticelasticityModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/SemanticelasticityModelFile.gif">
         <description>%_UI_SemanticelasticityModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated semantic -->
      <editor
            id="org.palladiosimulator.semanticelasticityspec.presentation.SemanticelasticityEditorID"
            name="%_UI_SemanticelasticityEditor_label"
            icon="icons/full/obj16/SemanticelasticityModelFile.gif"
            extensions="semanticelasticity"
            class="org.palladiosimulator.semanticelasticityspec.presentation.SemanticelasticityEditor"
            contributorClass="org.palladiosimulator.semanticelasticityspec.presentation.SemanticelasticityActionBarContributor">
      </editor>
   </extension>
</plugin>
