<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated elasticitymeasuringpoint -->
      <package
            uri="http://palladiosimulator.org/PCM/ElasticityMeasuringPoint/1.0"
            class="org.palladiosimulator.elasticitymeasuringpoint.ElasticitymeasuringpointPackage"
            genModel="model/scalablepcmgroupmeasuringpoint.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated scalablepcmgroupmeasuringpoint -->
      <package
            uri="http://palladiosimulator.org/PCM/ElasticityMeasuringPoint/1.0"
            class="org.palladiosimulator.scalablepcmgroupmeasuringpoint.ScalablePCMGroupMeasuringPointPackage"
            genModel="model/scalablepcmgroupmeasuringpoint.genmodel"/>
   </extension>

</plugin>
