<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SPD -->
      <package
            uri="http://palladiosimulator.org/Elasticity/1.0"
            class="org.palladiosimulator.elasticity.SpdPackage"
            genModel="model/Elasticity.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SPD -->
      <package
            uri="http://palladiosimulator.org/ScalingPolicyDefinition/Targets/1.0"
            class="org.palladiosimulator.spd.targets.TargetsPackage"
            genModel="model/Elasticity.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SPD -->
      <package
            uri="http://palladiosimulator.org/ScalingPolicyDefinition/Adjustments/1.0"
            class="org.palladiosimulator.spd.adjustments.AdjustmentsPackage"
            genModel="model/Elasticity.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SPD -->
      <package
            uri="http://palladiosimulator.org/ScalingPolicyDefinition/Constraints/1.0"
            class="org.palladiosimulator.spd.constraints.ConstraintsPackage"
            genModel="model/Elasticity.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SPD -->
      <package
            uri="http://palladiosimulator.org/ScalingPolicyDefinition/Constraints/Policy/1.0"
            class="org.palladiosimulator.spd.constraints.policy.PolicyPackage"
            genModel="model/Elasticity.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SPD -->
      <package
            uri="http://palladiosimulator.org/ScalingPolicyDefinition/Constraints/Target/1.0"
            class="org.palladiosimulator.spd.constraints.target.TargetPackage"
            genModel="model/Elasticity.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SPD -->
      <package
            uri="http://palladiosimulator.org/ScalingPolicyDefinition/Triggers/1.0"
            class="org.palladiosimulator.spd.triggers.TriggersPackage"
            genModel="model/Elasticity.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SPD -->
      <package
            uri="http://palladiosimulator.org/ScalingPolicyDefinition/Triggers/Stimuli/1.0"
            class="org.palladiosimulator.spd.triggers.stimuli.StimuliPackage"
            genModel="model/Elasticity.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SPD -->
      <package
            uri="http://palladiosimulator.org/ScalingPolicyDefinition/Triggers/Expectations/1.0"
            class="org.palladiosimulator.spd.triggers.expectations.ExpectationsPackage"
            genModel="model/Elasticity.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SPD -->
      <package
            uri="http://palladiosimulator.org/ScalingPolicyDefinition/Adjustments/Models/1.0"
            class="org.palladiosimulator.spd.models.ModelsPackage"
            genModel="model/Elasticity.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SPD -->
      <package
            uri="http://palladiosimulator.org/ScalingPolicyDefinition/Datatypes/1.0"
            class="org.palladiosimulator.spd.datatypes.DatatypesPackage"
            genModel="model/Elasticity.genmodel"/>
   </extension>

</plugin>
